<?xml version="1.0" encoding="UTF-8"?>
<!-- Building this installer requires the Wix toolset version three
!!  https://wixtoolset.org/releases/
!! on that page you want to install TWO things:
!!  Download the WIX kit itself and install it.
!!  Download and install the Visual Studio Extension for your version of VS.
!!
!! Recommendation to builder of DigiRite:
!!  Decide which deployment method to use: 
!!  Build the msi with the InstallDigiRite project and distribute the resulting msi file.
!!  OR
!!  Bundle the exe's into a zip file along with Register.exe and distribute
!!  the resulting zip file.
!!
!!  Register.exe and  DigiRiteOpenSource.msi file can both be invoked
!! on the same PC but they work in "last one wins" mode. WriteLog will invoke
!! whichever one was most recently installed.
!!
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?define VersionNumber = 1.1.38.4 ?>
    <Product Manufacturer="builders name here" 
             Name="DigiRite open source" 
             Version="$(var.VersionNumber)" 
             UpgradeCode="ac196bff-3463-4788-8638-d730254967f4"
             Language="1033" Id="*" >
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade AllowSameVersionUpgrades="yes" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        
        <Upgrade Id='ab84756b-b9d8-4064-b1f0-f69f296eacf1'>
            <!-- This is the UpgradeCode that WriteLog used-->
            <UpgradeVersion Property='WRITELOGBUILDFOUND'
              Minimum='0.0.0.0' IncludeMinimum='yes' Maximum='01.01.35' IncludeMaximum='no'
              OnlyDetect='no' />
        </Upgrade>

        <PropertyRef Id="WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED"/>
        <Condition Message="This application requires Windows 7 or later">VersionNT >= 601</Condition>
        <Condition Message="This application requires .NET Framework 4.6.2. Please install the .NET Framework then run this installer again.">
            <![CDATA[Installed OR WIX_IS_NETFRAMEWORK_462_OR_LATER_INSTALLED]]>
        </Condition>
        <MediaTemplate EmbedCab="yes" />

        <Feature Id="ProductFeature" Title="DigiRite" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
            <ComponentRef Id="ProgramMenuDir"/>
        </Feature>
	</Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                    <Directory Id="INSTALLFOLDER" Name="DigiRite" >
                    </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" Name="Programs">
                <Directory Id="ProgramMenuDir" Name="DigiRite">
                    <Component Id="ProgramMenuDir" Guid="{31FDB8C0-03A7-4197-9150-6D9265CB4DE1}">
                        <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
                        <RegistryValue Root='HKCU' Key='Software\DigiRite\Install' Type='string' Value='' KeyPath='yes' />
                    </Component>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <?define LocalBinDir=..\bin\x86\Release\?>
        <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
            <Component Id="DigiRite" Guid="7776F59B-0796-41E2-900E-FCB9A7E891D4" Win64="no">
                <File Id="DigiRiteexe" Name="DigiRite.exe" Source="$(var.LocalBinDir)DigiRite.exe" KeyPath="yes">
                    <Shortcut Id="DigiRiteSC" Name="DigiRite" Directory="ProgramMenuDir" Advertise="yes"/>
                </File>
                <!-- CLSID\guid must match Ft8Auto.cs -->
                <RegistryValue Root="HKCR" Key="CLSID\{4CC973B6-9BFB-3E4B-8157-E55774DD50C0}"   Value="WriteLog.Ft8Auto" Type="string" />
                <RegistryValue Root="HKCR" Key="CLSID\{4CC973B6-9BFB-3E4B-8157-E55774DD50C0}\LocalServer32"  Value="[INSTALLFOLDER]DigiRite.exe" Type="string" />
                <RegistryValue Root="HKCR" Key="CLSID\{4CC973B6-9BFB-3E4B-8157-E55774DD50C0}\ProgId"  Value="WriteLog.Ft8Auto" Type="string" />
                <RegistryValue Root="HKCR" Key="CLSID\{4CC973B6-9BFB-3E4B-8157-E55774DD50C0}\Implemented Categories\{62C8FE65-4EBB-45E7-B440-6E39B2CDBF29}"  Value="" Type="string" />
                <RegistryValue Root='HKCR' Key='WriteLog.Ft8Auto' Value='WriteLog.Ft8Auto' Type="string"/>
                <RegistryValue Root='HKCR' Key='WriteLog.Ft8Auto\CLSID' Value='{4CC973B6-9BFB-3E4B-8157-E55774DD50C0}' Type="string"/>
            </Component>
            <Component Id="libfftw" Guid="{3C54D613-A0F6-4F2C-884F-2E674CA6F812}" >
                <File Source="$(var.LocalBinDir)libfftw3f-3.dll" Name="libfftw3f-3.dll" />
            </Component>
            <Component Id="gfortran" Guid="{02FF27C1-A821-4DCF-A2F0-74465BFED59C}" >
                <File Source="$(var.LocalBinDir)libgfortran-5.dll" Name="libgfortran-5.dll" />
                <File Source="$(var.LocalBinDir)libquadmath-0.dll" Name="libquadmath-0.dll"/>
            </Component>
            <Component Id="gcc" Guid="{589509C9-C77A-45E8-9ED7-A0F5142AC127}" >
                <File Source="$(var.LocalBinDir)libgcc_s_dw2-1.dll" Name="libgcc_s_dw2-1.dll"/>
            </Component>
            <Component Id="XDwsjt" Guid="{E948C6AF-9D2E-4297-8227-E4CF73673E14}" >
                <File Source="$(var.LocalBinDir)XDwsjtFT.dll" Name="XDwsjtFT.dll"/>
            </Component>
            <Component Id="XDft8" Guid="{6EC1A5C5-0E79-4EDB-AD1E-B9A6AE338F65}" >
                <File Source="$(var.LocalBinDir)XDft.dll" Name="XDft.dll"/>
                <File Source="$(var.LocalBinDir)XDAudioDevice.dll" Name="XDAudioDevice.dll"/>
                <File Source="$(var.LocalBinDir)XDpack77Message.dll" Name="XDpack77Message.dll" />
                <File Source="$(var.LocalBinDir)XDftDemod.exe" Name="XDftDemod.exe"/>
            </Component>
            <Component Id="iwaterfall" Guid="{5F68173B-B62C-4F3B-AFDC-ED4E4B519897}" >
                <File Source="$(var.LocalBinDir)WriteLogIWaterfall.dll" Name="WriteLogIWaterfall.dll" />
            </Component>
            <Component Id="Redmehtm" Guid="{B821DAB1-AA05-40C1-BFFE-41B9D6BA5E48}">
                <File Id="Readme" Name="ReadMe.htm" Source="$(var.LocalBinDir)ReadMe.htm" KeyPath="yes">
                    <Shortcut Id="ReadmeSC" Name="Read Me" Directory="ProgramMenuDir" Advertise="yes"/>
                </File>
            </Component>
             <Component Id="COPYING_c" Guid="{7F11EDDB-CC1D-45BC-9749-02FC1F15D00F}">
                <File Id="COPYING_f" Name="COPYING" Source="..\COPYING" KeyPath="yes"/>
            </Component>
            <Component Id="WriteLogProgId" Guid="{64AFC390-1B1D-4F80-BE72-08516F3DC72C}">
                <RegistryKey Root="HKLM" Key="Software\W5XD\WriteLog\DigitalProgIds" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="no">
                    <RegistryValue Action="write" Type="string" Name="DigiRite" Value="WriteLog.Ft8Auto"></RegistryValue>
                </RegistryKey>
            </Component>
            <Component Id="digiritelogger" Guid="{73F0FE8E-F436-4331-9E1D-817E7B8978CC}" >
                <File Source="$(var.LocalBinDir)DigiRiteLogger.dll" Name="DigiRiteLogger.dll" />
            </Component>
        </ComponentGroup>
    </Fragment>
</Wix>
